body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slide {
  position: relative;
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  display: flex;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.carousel-content img {
  width: 100%;
  height: 100%;
}

.slideTitle,
.slideTitleSmall {
  /* For multislide carousel*/
  position: absolute;
  margin-bottom: 0.25em;
  width: max-content;
  text-align: center;
  height: 2em;
  line-height: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2em;
  padding: 0 0.5em;
}

#arrow-buttons-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-button {
  cursor: pointer;
  background-color: transparent;
  color: #000;
  height: 100%;
  font-size: 40px;
  border: none;
  padding: 0 10px;
}

.arrow-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

#dots-container {
  width: 25vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dot {
  width: 1em;
  height: 1em;
  background-color: #808080;
  border-radius: 50%;
}

.dot:hover {
  cursor: pointer;
  background-color: #505050;
}

.activeDot {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #60bddf;
  transform: scale(1.2);
  transition: transform 1s;
}

/******************************************Multislide Carousel*******************************************/

#slide-small {
  position: relative;
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  display: flex;
}

.container-small {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-content-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 33.3%;
  height: 100%;
}

.carousel-content-small img {
  width: 100%;
  height: 100%;
}

.unactiveSlide {
  animation: fadingin 1s;
  opacity: 0.2;
}

.activeSlide {
  opacity: 1;
  animation: fadingout 1s;
}

.slideTitleSmall {
  font-size: 1.2em;
  font-weight: bold;
}

/*******************************************Animations************************************************************************/

@keyframes fadingin {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes fadingout {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/*******************************************Responsiveness***********************************************************************/

@media screen and (max-width: 720px) {
  #slide {
    height: 40vh;
  }

  #slide-small {
    height: 20vh;
  }

  .dot,
  .activeDot {
    width: 0.75em;
    height: 0.75em;
  }

  #dots-container {
    width: 40vw;
  }

  .slideTitleSmall {
    font-size: 0.8em;
  }

  .slideTitle {
    font-size: 1.2em;
  }

  .arrow-button {
    font-size: 24px;
  }
}
